.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .empty-cart-message {
    text-align: center;
    font-size: 18px;
    color: #888;
    font-style: italic;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    margin-bottom: 10px;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-details h3 {
    font-size: 18px;
    margin: 0;
    color: #333;
  }
  
  .cart-item-details p.price {
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
    margin-top: 5px;
  }
  
  .remove-btn {
    background-color: #ff3333;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .remove-btn:hover {
    background-color: #e60000;
  }
  
  .cart-summary {
    text-align: right;
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  .cart-summary p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .cart-actions {
    display: flex;
    justify-content: space-between; /* Important: Spune browserului să alinieze butoanele pe lățimea disponibilă */
    margin-top: 15px;
  }
  
  .clear-cart-btn,
  .checkout-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .clear-cart-btn:hover,
  .checkout-btn:hover {
    background-color: #45a049;
  }
  
  .checkout-btn {
    background-color: #008CBA;
  }
  
  .checkout-btn:hover {
    background-color: #007b8b;
  }
  
  .quantity-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .quantity-container button {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 5px;
  }
  
  .quantity-container button:hover {
    background-color: #0097a7;
  }
  
  .quantity-container span {
    margin: 0 10px;
    font-size: 16px;
    color: #333;
  }
  
  .quantity-container button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  