<<<<<<< HEAD
.margine {
    margin: -10px !important; /* Elimină orice margine */
    padding:-10px!important; /* Elimină orice spațiu */
  }
=======
.margine{
    margin:-10px;
    padding:-10px;
}
>>>>>>> Cristi_1
