/* Resetare de bază */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Stilizare Navbar */
  .navbar {
    background-color: #333;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
  }
  
  .container {
    width: 100%;
    margin-left: 20px; /* Mută conținutul spre stânga */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px; /* Spațiere între linkuri */
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #00bcd4;
  }
  