<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Centered Image with Message</title>
</head>
<body>
    <audio id="pageSound" src="your-sound-file.mp3" autoplay></audio>
  <div class="container">
    <img src="https://cdna.artstation.com/p/assets/images/images/014/896/868/large/x-train-nunu-bot.jpg?1546153109" alt="Centered Image">
    <div class="message">Eroare 404. Doamne Ajuta.</div>
  </div>
</body>
</html>
