<div class="product-container" style="font-family: 'Outfit', sans-serif;">
  <!-- Lista de produse -->
  <div *ngFor="let product of pagedProducts" class="product-card">
    
    <div class="product-click-area" (click)="goToDetails(product.productID!)">
      <img [src]="product.image" class="product-img" alt="{{ product.productName }}">
      <div class="product-details">
        <div>
          <h3>{{ product.productName }}</h3>
          <p class="price">${{ product.price }}</p>
          <p class="description">{{ product.description }}</p>
        </div>
      </div>
    </div>

    <!-- Butonul rămâne separat -->
    <button 
      class="add-to-cart-btn" 
      *ngIf="isLoggedIn" 
      (click)="addToCart(product); $event.stopPropagation()">
      Add to Cart!
    </button>

    <a 
      *ngIf="!isLoggedIn" 
      routerLink="/login" 
      class="login-btn" 
      (click)="$event.stopPropagation()">
      Loghează-te pentru a adăuga în coș
    </a>
    
  </div>

  <!-- Paginare -->
  <div class="pagination-wrapper">
    <div class="pagination">
      <button 
        *ngFor="let page of totalPages" 
        (click)="changePage(page)"
        [class.active]="page === currentPage">
        {{ page }}
      </button>
    </div>
  </div>
</div>
